---
layout: default
---

<div class="banner parallax dark-translucent-bg" style="background-image:url('{{ page.image  }}'); background-position: 50% 30%;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Home</a></li>
				<li class="active">A propos de nous</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h1 class="page-title text-center">A propos de nous</h1>
				<div class="separator"></div>
        <p class="lead text-center">{{ site.title }}</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<h1 class="title">A propos de nous</h1>
				<div class="separator-2"></div>
				<div class="row">
					<div class="col-md-6">
						<p>{{ page.about_us }} </p>
						<ul class="list-icons">
							<li><i class="icon-check-1"></i> Audit et Comptabilité</li>
							<li><i class="icon-check-1"></i> Création d'entreprise</li>
							<li><i class="icon-check-1"></i> Expertise</li>
							<li><i class="icon-check-1"></i> Conseil</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div class="overlay-container overlay-visible">
							<img src="/images/slide-2.jpg" alt="">
							<div class="overlay-bottom hidden-xs">
								<div class="text">
									<h3 class="title">{{ page.image_title }}</h3>
								</div>
							</div>
							<a href="{{ page.image }}" class="popup-img overlay-link" title="{{ page.image_title }}"><i class="icon-plus-1"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- main end -->

		</div>
	</div>

	<!-- section start -->
	<!-- ================ -->
	<div class="light-gray-bg pv-40 section mt-20">
		<div class="container">
			<h4 class="title mb-20">Notre <strong>Equipe</strong></h4>
			<div class="row grid-space-10">
				{% for member in page.members %}
				<div class="col-sm-4">
					<div class="team-member image-box style-2 bordered shadow text-center">
						<img src="{{ member.image }}" alt="">
						<div class="body">
							<h3 class="margin-clear">{{ member.name }}</h3>
							<small>{{ member.job }}</small>
							<div class="separator mt-10"></div>
							<p class="small margin-clear">{{ member.description }}</p>
							<div class="separator mt-10"></div>
							<ul class="social-links colored margin-clear">
								<li class="linkedin"><a target="_blank" href="{{ member.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="separator mt-10 mb-10"></div>
							
							<a href="mailto:{{ member.mail }}" class="margin-clear btn btn-md-link link-dark"><i class="pr-10 fa fa-envelope-o"></i>Contact</a>
						</div>
					</div>
				</div>
				{% endfor %}
		</div>
	</div>
	<!-- section end -->
	
</section>
<!-- main-container end -->
 <!-- section start -->
      <!-- ================ -->
      <section class="pv-40 padding-bottom-clear dark-translucent-bg hovered background-img-1">
        {%- include client_partenaires.html -%}
        <!-- footer top start -->
        <!-- ================ -->
        <div class="default-translucent-bg border-clear footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="call-to-action text-center">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2>Obtenez un devis gratuit</h2>
                      <h2>N'hésitez plus, lancez vous!</h2>
                    </div>
                    <div class="col-sm-4">
                      <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent radius-50">Demander mon devis<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer top end -->
      </section>
      <!-- section end -->