---
layout: default
---

<!-- banner start -->
      {% include home_slider.html %}

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section id="about" class="light-gray-bg pv-20">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center pv-20">
              <br>
              <h1 class="title large"><span class="text-default">Bienvenue chez</span> Kap Expertise</h1>
              <div class="separator"></div>
              <p class="large">{{ page.mini_descr }} </p>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="stats padding-bottom-clear dark-translucent-bg hovered" style="background-image:url('images/slide-1.jpg'); background-position: 50% 50%;">
        <div class="clearfix">
          <div class="col-md-3 pv-40 dark-translucent-bg col-xs-12 col-sm-3 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
              <h2><strong>Pourquoi Nous Choisir?</strong></h2>
              <p>Intégrité & Travail d'équipe & Excellence</p>
              <p><a href="#" class="btn btn-default radius-50">En savoir plus</a></p>
            </div>
          </div>
          <div class="col-md-4 pv-40 col-xs-12 col-sm-4 text-center">
            <br>
            <br>
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
              <span class="icon without-bg"><i class="fa fa-users"></i></span>
              <h3><strong>Clients</strong></h3>
              <span class="counter" data-to="{{ page.clients }}" data-speed="5000">0</span>
            </div>
          </div>
          
          <div class="col-md-4 pv-40 col-xs-12 col-sm-4 text-center">
            <br>
            <br>
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
              <span class="icon without-bg"><i class="fa fa-users"></i></span>
              <h3><strong>Experts</strong></h3>
              <span class="counter" data-to="{{ page.experts }}" data-speed="5000">0</span>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section id="about-2" class="main-container">
        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">Qui Sommes Nous?</h1>
              <div class="separator-2 mb-20"></div>
              <!-- page-title end -->

              <div class="row">
                <div class="col-md-6">
                 {{ page.content }}
                </div>

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="sidebar col-md-6">
                  
                  <div class="overlay-container overlay-visible">
                  <img src="{{ page.image }}" alt="">
                  <a href="/about" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom hidden-xs">
                    <div class="text">
                      {{ page.image_title }}
                    </div>
                  </div>            
                </aside>
                <!-- sidebar end -->
              </div>
            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="services" class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Nos Principaux <strong>Services</strong></h2>
            </div>
            {% for service in site.services limit:3 %}
            <div class="col-sm-4">
            <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
              <div class="overlay-container overlay-visible">
                <img src="{{ service.image }}" alt="" style="width: 360px; height: 215px;">
                <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear text-left">{{ service.title }}</p>
                  </div>
                </div>
              </div>
              <div class="body padding-horizontal-clear">
                <div style="width: 328px; height: 125px;">
                  <p class="text-justify">{{ service.mini_desc }}</p>
                </div>                
                <a class="link-dark" href="{{ service.url }}">En savoir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ --
      <section class="section dark-translucent-bg parallax background-img-1">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-sm-8">
                    <h1 class="title">Obtenir un devis gratuit</h1>
                    <p>Les outils d'audit dont dispose le cabinet assurent à nos clients la réalisation des missions dans le respect des diligences à accomplir.</p>
                  </div>
                  <div class="col-sm-4">
                    <br>
                    <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated radius-50">Obtenir mon devis<i class="fa fa-arrow-right pl-20"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section -->
      <!-- ================ --
      <section class="pv-30">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Autres <strong>Services</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span>
                <h3>Solution Bancaire en ligne</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                <a href="page-services.html">En savoir plus</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon large dark-bg circle"><i class="fa fa-connectdevelop"></i></span>
                <h3>Quadratus Cegid</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                <a class="link-dark" href="page-services.html">En savoir plus</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon large default-bg circle"><i class="icon-snow"></i></span>
                <h3>Creation d'entreprise</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                <a href="page-services.html">En savoir plus</a>
              </div>
            </div>
            <div class="clearfix visible-md"></div>
            <div class="col-md-4 col-sm-6">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon large dark-bg circle"><i class="icon-check"></i></span>
                <h3>Documents légaux</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                <a class="link-dark" href="page-services.html">En savoir plus</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon large default-bg circle"><i class="icon-lifebuoy-1"></i></span>
                <h3>Logiciel de paie</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                <a href="page-services.html">En savoir plus</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon large dark-bg circle"><i class="icon-gift"></i></span>
                <h3>Assistance Diverses</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                <a class="link-dark" href="page-services.html">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->


      <!-- section start -->
      <!-- ================ -->
      <section class="pv-40 padding-bottom-clear dark-translucent-bg hovered background-img-1">
        {%- include client_partenaires.html -%}
        <!-- footer top start -->
        <!-- ================ -->
        <div class="default-translucent-bg border-clear footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="call-to-action text-center">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2>Obtenez un devis gratuit</h2>
                      <h2>N'hésitez plus, lancez vous!</h2>
                    </div>
                    <div class="col-sm-4">
                      <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent radius-50">Demander mon devis<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer top end -->
      </section>
      <!-- section end -->
