---
layout: default
---

<div class="banner parallax dark-translucent-bg" style="background-image:url('/images/slide-1.jpg'); background-position: 50% 30%;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Home</a></li>
				<li class="active">Nos outils</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h1 class="page-title text-center">Nos outils</h1>
				<div class="separator"></div>
				<p class="lead text-center">{{ site.title }}</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->
<!-- main-container start -->
<!-- ================ -->
<!-- section start -->
			<!-- ================ -->
			<section>
				<div class="container">
					<!-- isotope filters start -->
					<div class="filters">
						<ul class="nav nav-pills">
							<li class="active"><a href="#" data-filter="*">Tous</a></li>
							<li><a href="#" data-filter=".expertise">Expertise</a></li>
							<li><a href="#" data-filter=".audit">Audit</a></li>
							<li><a href="#" data-filter=".conseil">Conseil</a></li>
						</ul>
					</div>
					<!-- isotope filters end -->
				</div>
				<div class="isotope-container row grid-space-0">
					
					<div class="col-sm-6 col-md-4 isotope-item expertise">
						{% for outil in page.outils | where:"type", "expertise" %}
						<div class="image-box text-center">
							<div class="overlay-container">
								<img src="{{ outil.image }}" alt="">
								<div class="overlay-top">
									<div class="text">
										<h3>{{ outil.name }}</h3>
										<p class="small">{{ outil.description }}</p>
									</div>
								</div>
								<div class="overlay-bottom">
									<div class="links">
										<a href="{{ outil.document }}" class="btn btn-gray-transparent btn-animated btn-sm">Télécharger <i class="pl-10 fa fa-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="col-sm-6 col-md-4 isotope-item audit">
						{% for outil in page.outils | where:"type", "audit" %}
						<div class="image-box text-center">
							<div class="overlay-container">
								<img src="{{ outil.image }}" alt="">
								<div class="overlay-top">
									<div class="text">
										<h3>{{ outil.name }}</h3>
										<p class="small">{{ outil.description }}</p>
									</div>
								</div>
								<div class="overlay-bottom">
									<div class="links">
										<a href="{{ outil.document }}" class="btn btn-gray-transparent btn-animated btn-sm">Télécharger <i class="pl-10 fa fa-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="col-sm-6 col-md-4 isotope-item conseil">
						{% for outil in page.outils | where:"type", "conseil" %}
						<div class="image-box text-center">
							<div class="overlay-container">
								<img src="{{ outil.image }}" alt="">
								<div class="overlay-top">
									<div class="text">
										<h3>{{ outil.name }}</h3>
										<p class="small">{{ outil.description }}</p>
									</div>
								</div>
								<div class="overlay-bottom">
									<div class="links">
										<a href="{{ outil.document }}" class="btn btn-gray-transparent btn-animated btn-sm">Télécharger <i class="pl-10 fa fa-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					
				</div>
			</section>
			<!-- section end -->
<!-- main-container end -->
 <!-- section start -->
<!-- ================ -->
<section class="pv-40 padding-bottom-clear dark-translucent-bg hovered background-img-1">
{%- include client_partenaires.html -%}
<!-- footer top start -->
<!-- ================ -->
<div class="default-translucent-bg border-clear footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-sm-8">
              <h2>Obtenez un devis gratuit</h2>
              <h2>N'hésitez plus, lancez vous!</h2>
            </div>
            <div class="col-sm-4">
              <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent radius-50">Demander mon devis<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer top end -->
</section>
<!-- section end -->