---
layout: default
---

<div class="banner parallax dark-translucent-bg" style="background-image:url('/images/slide-1.jpg'); background-position: 50% 30%;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Accueil</a></li>
				<li class="active">Compétences & Spécialités</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h1 class="page-title text-center">Nos Compétences & Spécialités</h1>
				<div class="separator"></div>
				<p class="lead text-center">{{ site.title }}</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title text-center">Compétences & Méthodologie</h1>
				<div class="separator"></div>
				<br>
				<!-- page-title end -->
				<div class="row">
					<div class="col-sm-12">
						<div class="vertical">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#vtab1" role="tab" data-toggle="tab"><i class="fa fa-magic pr-10"></i> Compétences</a></li>
									<li><a href="#vtab2" role="tab" data-toggle="tab"><i class="fa fa-life-saver pr-10"></i> Méthodologie</a></li>
									
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane fade in active" id="vtab1">
										<h3 class="title">Compétences</h3>
										<p>Chaque situation étant différente, nous vous aidons à rechercher la solution la mieux adaptée à vos besoins et à votre structure en mettant en avant nos compétences suivantes :</p> <br>
										<ul class="list-icons">
											<li><i class="icon-check pr-10"></i> Des outils adaptés,</li>
											<li><i class="icon-check pr-10"></i> Une expérience acquise dans de nombreux domaines et secteurs d'activités,</li>
											<li><i class="icon-check pr-10"></i> Une étroite collaboration avec nos clients,</li>
											<li><i class="icon-check pr-10"></i> Une personnalisation de notre offre en fonction de chaque demande et de chaque client.</li>
										</ul>
										<a href="/contact" class="btn btn-default">Contactez-nous</a>
									</div>
									<div class="tab-pane fade" id="vtab2">
										<h3 class="title">Méthodologie</h3>
										<p>Notre première approche consistera à évaluer vos besoins et vos attentes lors d’un entretien physique pour ainsi définir les travaux à effectuer et à la méthodologie de travail. <br> A l'issu de cet entretien une lettre de mission renseignant les modalités d’intervention, le contenu de la mission et nos différentes obligations vous sera transmise.</p>
										<a href="/contact" class="btn btn-default">Contactez-nous</a>
									</div>
									
								</div>
							</div>
					</div>
				</div>
				<div class="row">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title text-center">Nos services</h1>
				<div class="separator"></div>
				<br>
				</div>
				<div class="row">
				<!-- page-title end -->
				{% for service in site.services %}
					<div class="col-sm-4">
						<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
							<div class="overlay-container overlay-visible">
								<img src="{{ service.image }}" alt="" style="width: 360px; height: 215px;">
								<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
								<div class="overlay-bottom hidden-xs">
									<div class="text">
										<p class="lead margin-clear text-left">{{ service.title }}</p>
									</div>
								</div>
							</div>
							<div class="body padding-horizontal-clear">
								<div style="width: 328px; height: 125px;">
									<p class="text-justify">{{ service.mini_desc }}</p>
								</div>								
								<a class="link-dark" href="{{ service.url }}">En savoir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
				
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

 <!-- section start -->
<!-- ================ -->
<section class="section dark-translucent-bg parallax background-img-1">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="call-to-action text-center">
        <div class="row">
          <div class="col-sm-8">
            <h1 class="title">Obtenir un devis gratuit</h1>
            <p>Les outils d'audit dont dispose le cabinet assurent à nos clients la réalisation des missions dans le respect des diligences à accomplir.</p>
          </div>
          <div class="col-sm-4">
            <br>
            <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated radius-50">Obtenir mon devis<i class="fa fa-arrow-right pl-20"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- section end -->