---
layout: default
---

<div class="banner parallax dark-translucent-bg" style="background-image:url('/images/slide-1.jpg'); background-position: 50% 30%;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Accueil</a></li>
				<li class="active">Compétences & Spécialités</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h1 class="page-title text-center">Nos Compétences & Spécialités</h1>
				<div class="separator"></div>
				<p class="lead text-center">{{ site.title }}</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title text-center">Compétences & Méthodologie</h1>
				<div class="separator"></div>
				<br>
				<!-- page-title end -->
				<div class="row">
					<div class="col-sm-12">
						<div class="vertical">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#vtab1" role="tab" data-toggle="tab"><i class="fa fa-saver pr-10"></i> Compétences</a></li>
									<li><a href="#vtab2" role="tab" data-toggle="tab"><i class="fa fa-life-saver pr-10"></i> Méthodologie</a></li>
									<li><a href="#vtab3" role="tab" data-toggle="tab"><i class="fa fa-life-saver pr-10"></i> Références</a></li>
									
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane fade in active" id="vtab1">
										<h3 class="title">Compétences</h3>
										{{ page.competences }}
										<a href="/contact" class="btn btn-default">Contactez-nous</a>
									</div>
									<div class="tab-pane fade" id="vtab2">
										<h3 class="title">Méthodologie</h3>
										{{ page.methodologie }}
										<a href="/contact" class="btn btn-default">Contactez-nous</a>
									</div>
									<div class="tab-pane fade" id="vtab3">
										<h3 class="title">Nos Références</h3>
										{{ page.content }}
										<a href="/contact" class="btn btn-default">Contactez-nous</a>
									</div>
									
								</div>
							</div>
					</div>
				</div>
				{% include nos_services.html %}
				
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

 <!-- section start -->
<!-- ================ -->
<section class="section dark-translucent-bg parallax background-img-1">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="call-to-action text-center">
        <div class="row">
          <div class="col-sm-8">
            <h1 class="title">Obtenir un devis gratuit</h1>
            <p>Les outils d'audit dont dispose le cabinet assurent à nos clients la réalisation des missions dans le respect des diligences à accomplir.</p>
          </div>
          <div class="col-sm-4">
            <br>
            <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated radius-50">Obtenir mon devis<i class="fa fa-arrow-right pl-20"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- section end -->